<a href="https://colab.research.google.com/github/mikeytw11/Hockey-Model/blob/main/Pre_Season_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Import Skater Data
skater_EV_rates_raw = pd.read_csv('https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/EV%20On-Ice%20Rates.csv')

In [3]:
#Restrict data columns to Player, Season, Team, Position, GP, TOI, G/60, F/60, C/60, xG/60
skater_EV_rates = skater_EV_rates_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G±/60','F±/60','C±/60','xG±/60']]

In [4]:
#Convert TOI to seconds
skater_EV_rates['TOI_EV'] = skater_EV_rates['TOI'] * 60

In [5]:
#Separate Forwards and Defense in order to get averages for each position
forwards_EV = skater_EV_rates.loc[skater_EV_rates.Position!="D"]
defense_EV = skater_EV_rates.loc[skater_EV_rates.Position=="D"]
#forwards_EV.head()

In [6]:
#Calculate Variables/s
pd.options.mode.chained_assignment = None
forwards_EV['G/s'] = forwards_EV['G±/60'] / 3600
forwards_EV['F/s'] = forwards_EV['F±/60'] / 3600
forwards_EV['C/s'] = forwards_EV['C±/60'] / 3600
forwards_EV['xG/s'] = forwards_EV['xG±/60'] / 3600
#forwards_EV.head()

In [7]:
#Calculate average/s for defense
defense_EV['G/s'] = defense_EV['G±/60'] / 3600
defense_EV['F/s'] = defense_EV['F±/60'] / 3600
defense_EV['C/s'] = defense_EV['C±/60'] / 3600
defense_EV['xG/s'] = defense_EV['xG±/60'] / 3600
#defense_EV.head()

In [8]:
#Calculate averages per second for forwards and defensemen
avg_forward_G = forwards_EV['G/s'].mean()
avg_forward_F = forwards_EV['F/s'].mean()
avg_forward_C = forwards_EV['C/s'].mean()
avg_forward_xG = forwards_EV['xG/s'].mean()

avg_defense_G = defense_EV['G/s'].mean()
avg_defense_F = defense_EV['F/s'].mean()
avg_defense_C = defense_EV['C/s'].mean()
avg_defense_xG = defense_EV['xG/s'].mean()

In [9]:
#Add impact columns to Forward table
forwards_EV['G Impact'] = (forwards_EV['G/s']-avg_forward_G) * forwards_EV['TOI_EV']
forwards_EV['F Impact'] = (forwards_EV['F/s']-avg_forward_F) * forwards_EV['TOI_EV']
forwards_EV['C Impact'] = (forwards_EV['C/s']-avg_forward_C) * forwards_EV['TOI_EV']
forwards_EV['xG Impact'] = (forwards_EV['xG/s']-avg_forward_xG) * forwards_EV['TOI_EV']
#forwards_EV

In [10]:
#Restrict data for Forwards table
forwards_EV = forwards_EV.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact', 'F Impact', 'C Impact', 'xG Impact']]
#forwards_EV.head()

In [11]:
#Add impact columns to defense table
defense_EV['G Impact'] = (defense_EV['G/s']-avg_defense_G) * defense_EV['TOI_EV']
defense_EV['F Impact'] = (defense_EV['F/s']-avg_defense_F) * defense_EV['TOI_EV']
defense_EV['C Impact'] = (defense_EV['C/s']-avg_defense_C) * defense_EV['TOI_EV']
defense_EV['xG Impact'] = (defense_EV['xG/s']-avg_defense_xG) * defense_EV['TOI_EV']
#defense_EV

In [12]:
#Restrict data for defense table
defense_EV = defense_EV.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact', 'F Impact', 'C Impact', 'xG Impact']]
#defense_EV.head()

In [13]:
#Merge forwards and defense tables together
concat_frames = [forwards_EV, defense_EV]
skater_EV = pd.concat(concat_frames)
skater_EV

,Player,Season,Team,Position,GP,G Impact,F Impact,C Impact,xG Impact
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018
8,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894
9,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826
10,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779
11,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628
...,...,...,...,...,...,...,...,...,...
2466,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053
2467,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147
2475,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773
2476,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267
2477,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430

In [14]:
#Import Skater PP Data
skater_PP_rates_raw = pd.read_csv('https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/PP%20On-Ice%20Rates.csv')
#skater_PP_rates_raw.head()

In [15]:
#Restrict data columns to Player, Season, Team, Position, GP, TOI, G/60, F/60, C/60, xG/60
skater_PP_rates = skater_PP_rates_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G±/60']]
#skater_PP_rates.head()

In [16]:
#Convert TOI to seconds
skater_PP_rates['TOI_PP'] = skater_PP_rates['TOI'] * 60

In [17]:
#Separate Forwards and Defense in order to get averages for each position
forwards_PP = skater_PP_rates.loc[skater_PP_rates.Position!="D"]
defense_PP = skater_PP_rates.loc[skater_PP_rates.Position=="D"]
#forwards_PP.head()

In [18]:
#Calculate variables/s for forwards
pd.options.mode.chained_assignment = None
forwards_PP['G/s'] = forwards_PP['G±/60'] / 3600
#forwards_PP.head()

In [19]:
#Calculate variable/s for defense
defense_PP['G/s'] = defense_PP['G±/60'] / 3600
#defense_PP.head()

In [20]:
#Calculate averages per second for forwards and defensemen
avg_forward_G_PP = forwards_PP['G/s'].mean()
avg_defense_G_PP = defense_PP['G/s'].mean()

In [21]:
#Add impact columns to Forward table
forwards_PP['G Impact'] = (forwards_PP['G/s']-avg_forward_G_PP) * forwards_PP['TOI_PP']
#forwards_PP

In [22]:
#Restrict data for Forwards table
forwards_PP = forwards_PP.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#forwards_PP.head()

In [23]:
#Add impact columns to defense table
defense_PP['G Impact'] = (defense_PP['G/s']-avg_defense_G_PP) * defense_PP['TOI_PP']
#defense_PP

In [24]:
#Restrict data for defense table
defense_PP = defense_PP.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#defense_PP.head()

In [25]:
#Merge forwards and defense tables together
concat_frames = [forwards_PP, defense_PP]
skater_PP = pd.concat(concat_frames)
#skater_PP

In [26]:
#Import Skater SH Data
skater_SH_rates_raw = pd.read_csv('https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/SH%20On-Ice%20Rates.csv')
#skater_SH_rates_raw.head()

In [27]:
#Restrict data columns to Player, Season, Team, Position, GP, TOI, G/60, F/60, C/60, xG/60
skater_SH_rates = skater_SH_rates_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G±/60']]
#skater_SH_rates.head()

In [28]:
#Convert TOI to seconds
skater_SH_rates['TOI_SH'] = skater_SH_rates['TOI'] * 60

In [29]:
#Separate Forwards and Defense in order to get averages for each position
forwards_SH = skater_SH_rates.loc[skater_SH_rates.Position!="D"]
defense_SH = skater_SH_rates.loc[skater_SH_rates.Position=="D"]
#forwards_SH.head()

In [30]:
#Calculate Variables/s for Forward Table
pd.options.mode.chained_assignment = None
forwards_SH['G/s'] = forwards_SH['G±/60'] / 3600
#forwards_SH.head()

In [31]:
#Calculate variable/s for Defense Table
defense_SH['G/s'] = defense_SH['G±/60'] / 3600
#defense_SH.head()

In [32]:
#Calculate averages per second for forwards and defensemen
avg_forward_G_SH = forwards_SH['G/s'].mean()
avg_defense_G_SH = defense_SH['G/s'].mean()

In [33]:
#Add impact columns to Forward table
forwards_SH['G Impact'] = (forwards_SH['G/s']-avg_forward_G_SH) * forwards_SH['TOI_SH']
#forwards_SH

In [34]:
#Restrict data for Forwards table
forwards_SH = forwards_SH.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#forwards_SH.head()

In [35]:
#Add impact columns to defense table
defense_SH['G Impact'] = (defense_SH['G/s']-avg_defense_G_SH) * defense_SH['TOI_SH']
#defense_SH

In [36]:
#Restrict data for defense table
defense_SH = defense_SH.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#defense_SH.head()

In [37]:
#Merge forwards and defense tables together
concat_frames = [forwards_SH, defense_SH]
skater_SH = pd.concat(concat_frames)
skater_SH

               Player Season Team Position  GP  G Impact
5       Adam Henrique  19-20  ANA        C  70  2.025321
6       Adam Henrique  20-21  ANA        C  44 -3.209840
10         Adam Lowry  19-20  WPG        L  48 -0.025562
11         Adam Lowry  20-21  WPG        L  52  2.821355
12         Adam Lowry  21-22  WPG      C/L  76 -5.175118
...               ...    ...  ...      ...  ..       ...
1276  Zach Whitecloud  20-21  VGK        D  49  3.135511
1277  Zach Whitecloud  21-22  VGK        D  58 -6.367926
1279      Zdeno Chara  19-20  BOS        D  67  1.347726
1280      Zdeno Chara  20-21  WSH        D  55 -0.782653
1281      Zdeno Chara  21-22  NYI        D  68  7.424736

[1284 rows x 6 columns]

In [38]:
#Rename columns for skater data
skater_EV = skater_EV.rename(columns = {'G Impact':'G_EV'})
skater_PP = skater_PP.rename(columns = {'G Impact':'G_PP'})
skater_SH = skater_SH.rename(columns = {'G Impact':'G_SH'})

In [39]:
#Merge player data for EV and PP
skater_EV_PP = pd.merge(skater_EV, skater_PP, how="left", on=["Player","Season"])
skater_EV_PP

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,Team_y,Position_y,GP_y,G_PP
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,NaN,NaN,NaN,NaN
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,NaN,NaN,NaN,NaN
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,NaN,NaN,NaN,NaN
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,NaN,NaN,NaN,NaN
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,DET,L,55.0,-5.673323
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,NaN,NaN,NaN,NaN
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,NaN,NaN,NaN,NaN
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,NaN,NaN,NaN,NaN
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,NaN,NaN,NaN,NaN
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,NaN,NaN,NaN,NaN

In [40]:
#Merge EV, PP, and SH data
full_skater_data = pd.merge(skater_EV_PP, skater_SH, how="left", on=["Player", "Season"])
full_skater_data

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,Team_y,Position_y,GP_y,G_PP,Team,Position,GP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,DET,L,55.0,-5.673323,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,NaN,NaN,NaN,NaN,VGK,D,49.0,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,NaN,NaN,NaN,NaN,VGK,D,58.0,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,NaN,NaN,NaN,NaN,BOS,D,67.0,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,NaN,NaN,NaN,NaN,WSH,D,55.0,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,NaN,NaN,NaN,NaN,NYI,D,68.0,7.424736

In [41]:
#Drop columns from full skater data
full_skater_data = full_skater_data.drop(columns= ['Team_y', 'Position_y', 'GP_y', 'Team', 'Position', 'GP'])
full_skater_data

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,G_PP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,NaN,NaN
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,NaN,NaN
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,NaN,NaN
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,NaN,NaN
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,-5.673323,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,NaN,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,NaN,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,NaN,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,NaN,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,NaN,7.424736

In [42]:
#Replace NaN in data table with 0
full_skater_data = full_skater_data.replace(np.NaN, 0)
full_skater_data

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,G_PP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,0.000000,0.000000
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,0.000000,0.000000
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,0.000000,0.000000
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,0.000000,0.000000
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,-5.673323,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,0.000000,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,0.000000,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,0.000000,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,0.000000,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,0.000000,7.424736

In [43]:
#Rename table names
full_skater_data = full_skater_data.rename(columns = {'Team_x':'Team', 'Position_x':'Position', 'GP_x':'GP'})
full_skater_data

,Player,Season,Team,Position,GP,G_EV,F Impact,C Impact,xG Impact,G_PP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,0.000000,0.000000
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,0.000000,0.000000
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,0.000000,0.000000
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,0.000000,0.000000
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,-5.673323,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,0.000000,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,0.000000,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,0.000000,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,0.000000,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,0.000000,7.424736

Don't need all the impact columns for the PP and SH data tables. Change that data to reflect PP G+/- and SH G+/-.