<a href="https://colab.research.google.com/github/mikeytw11/Hockey-Model/blob/main/Pre_Season_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Import Skater Data
skater_EV_rates_raw = pd.read_csv('https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/EV%20On-Ice%20Rates.csv')
skater_EV_rates_raw

,Player,Season,Team,Position,GP,TOI,GF%,SF%,FF%,CF%,...,CA/60,xGF/60,xGA/60,G±/60,S±/60,F±/60,C±/60,xG±/60,Sh%,Sv%
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,57.90,57.33,56.89,...,46.28,2.69,1.89,0.05,9.22,12.50,14.78,0.80,7.59,89.76
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,54.75,53.16,53.30,53.14,...,50.62,2.49,2.50,0.59,4.00,5.43,6.79,-0.01,10.03,90.59
2,Aaron Ekblad,20-21,FLA,D,35,630.15,57.67,54.51,53.65,53.97,...,45.84,2.52,2.05,0.64,5.17,5.64,7.91,0.47,7.68,93.24
3,Aaron Ekblad,21-22,FLA,D,61,1092.75,62.97,58.86,59.78,59.32,...,47.19,3.39,2.31,1.60,11.75,16.84,21.62,1.08,9.96,91.62
4,Aaron Ness,19-20,ARI,D,24,292.63,49.44,51.47,49.69,49.55,...,56.61,2.24,2.16,-0.06,1.78,-0.54,-1.01,0.08,8.39,90.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,62.20,49.10,48.67,48.25,...,55.58,2.16,2.13,1.15,-1.09,-2.20,-3.75,0.03,9.85,94.23
2476,Zdeno Chara,20-21,WSH,D,55,817.42,51.49,49.37,49.02,50.39,...,51.89,2.10,1.95,0.15,-0.73,-1.55,0.83,0.15,9.04,91.70
2477,Zdeno Chara,21-22,NYI,D,72,1196.30,53.26,44.89,44.56,43.73,...,62.55,2.36,2.77,0.30,-6.21,-9.06,-13.94,-0.41,8.90,93.64
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,45.67,47.49,49.21,49.34,...,47.48,1.94,1.98,-0.33,-2.71,-1.16,-1.24,-0.03,6.82,92.66
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,43.07,47.03,47.87,47.61,...,48.55,1.85,2.19,-0.54,-3.32,-3.12,-4.42,-0.33,6.32,92.58

In [4]:
#Restrict data columns to Player, Season, Team, Position, GP, TOI, G/60, F/60, C/60, xG/60
skater_EV_rates = skater_EV_rates_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G±/60','F±/60','C±/60','xG±/60','GF/60','xGF/60']]
skater_EV_rates

,Player,Season,Team,Position,GP,TOI,G±/60,F±/60,C±/60,xG±/60,GF/60,xGF/60
0,A.J. Greer,21-22,N.J,L,9,70.45,0.05,12.50,14.78,0.80,2.56,2.69
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,0.59,5.43,6.79,-0.01,3.38,2.49
2,Aaron Ekblad,20-21,FLA,D,35,630.15,0.64,5.64,7.91,0.47,2.40,2.52
3,Aaron Ekblad,21-22,FLA,D,61,1092.75,1.60,16.84,21.62,1.08,3.89,3.39
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.06,-0.54,-1.01,0.08,2.63,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,1.15,-2.20,-3.75,0.03,2.93,2.16
2476,Zdeno Chara,20-21,WSH,D,55,817.42,0.15,-1.55,0.83,0.15,2.57,2.10
2477,Zdeno Chara,21-22,NYI,D,72,1196.30,0.30,-9.06,-13.94,-0.41,2.43,2.36
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,-0.33,-1.16,-1.24,-0.03,1.75,1.94
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,-0.54,-3.12,-4.42,-0.33,1.66,1.85

In [5]:
skater_EV_rates['GAx/60'] = skater_EV_rates['GF/60'] - skater_EV_rates['xGF/60']
skater_EV_rates

,Player,Season,Team,Position,GP,TOI,G±/60,F±/60,C±/60,xG±/60,GF/60,xGF/60,GAx/60
0,A.J. Greer,21-22,N.J,L,9,70.45,0.05,12.50,14.78,0.80,2.56,2.69,-0.13
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,0.59,5.43,6.79,-0.01,3.38,2.49,0.89
2,Aaron Ekblad,20-21,FLA,D,35,630.15,0.64,5.64,7.91,0.47,2.40,2.52,-0.12
3,Aaron Ekblad,21-22,FLA,D,61,1092.75,1.60,16.84,21.62,1.08,3.89,3.39,0.50
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.06,-0.54,-1.01,0.08,2.63,2.24,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,1.15,-2.20,-3.75,0.03,2.93,2.16,0.77
2476,Zdeno Chara,20-21,WSH,D,55,817.42,0.15,-1.55,0.83,0.15,2.57,2.10,0.47
2477,Zdeno Chara,21-22,NYI,D,72,1196.30,0.30,-9.06,-13.94,-0.41,2.43,2.36,0.07
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,-0.33,-1.16,-1.24,-0.03,1.75,1.94,-0.19
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,-0.54,-3.12,-4.42,-0.33,1.66,1.85,-0.19

In [6]:
skater_EV_rates = skater_EV_rates.drop(columns = ['GF/60','xGF/60'])
skater_EV_rates

,Player,Season,Team,Position,GP,TOI,G±/60,F±/60,C±/60,xG±/60,GAx/60
0,A.J. Greer,21-22,N.J,L,9,70.45,0.05,12.50,14.78,0.80,-0.13
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,0.59,5.43,6.79,-0.01,0.89
2,Aaron Ekblad,20-21,FLA,D,35,630.15,0.64,5.64,7.91,0.47,-0.12
3,Aaron Ekblad,21-22,FLA,D,61,1092.75,1.60,16.84,21.62,1.08,0.50
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.06,-0.54,-1.01,0.08,0.39
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,1.15,-2.20,-3.75,0.03,0.77
2476,Zdeno Chara,20-21,WSH,D,55,817.42,0.15,-1.55,0.83,0.15,0.47
2477,Zdeno Chara,21-22,NYI,D,72,1196.30,0.30,-9.06,-13.94,-0.41,0.07
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,-0.33,-1.16,-1.24,-0.03,-0.19
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,-0.54,-3.12,-4.42,-0.33,-0.19

In [8]:
#Convert TOI to seconds
skater_EV_rates['TOI_EV'] = skater_EV_rates['TOI'] * 60
skater_EV_rates

,Player,Season,Team,Position,GP,TOI,G±/60,F±/60,C±/60,xG±/60,GAx/60,TOI_EV
0,A.J. Greer,21-22,N.J,L,9,70.45,0.05,12.50,14.78,0.80,-0.13,4227.0
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,0.59,5.43,6.79,-0.01,0.89,76096.8
2,Aaron Ekblad,20-21,FLA,D,35,630.15,0.64,5.64,7.91,0.47,-0.12,37809.0
3,Aaron Ekblad,21-22,FLA,D,61,1092.75,1.60,16.84,21.62,1.08,0.50,65565.0
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.06,-0.54,-1.01,0.08,0.39,17557.8
...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,1.15,-2.20,-3.75,0.03,0.77,70272.0
2476,Zdeno Chara,20-21,WSH,D,55,817.42,0.15,-1.55,0.83,0.15,0.47,49045.2
2477,Zdeno Chara,21-22,NYI,D,72,1196.30,0.30,-9.06,-13.94,-0.41,0.07,71778.0
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,-0.33,-1.16,-1.24,-0.03,-0.19,47127.0
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,-0.54,-3.12,-4.42,-0.33,-0.19,40837.2

In [10]:
skater_EV_rates = skater_EV_rates.drop(columns = ['TOI'])
skater_EV_rates

,Player,Season,Team,Position,GP,G±/60,F±/60,C±/60,xG±/60,GAx/60,TOI_EV
0,A.J. Greer,21-22,N.J,L,9,0.05,12.50,14.78,0.80,-0.13,4227.0
1,Aaron Ekblad,19-20,FLA,D,67,0.59,5.43,6.79,-0.01,0.89,76096.8
2,Aaron Ekblad,20-21,FLA,D,35,0.64,5.64,7.91,0.47,-0.12,37809.0
3,Aaron Ekblad,21-22,FLA,D,61,1.60,16.84,21.62,1.08,0.50,65565.0
4,Aaron Ness,19-20,ARI,D,24,-0.06,-0.54,-1.01,0.08,0.39,17557.8
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1.15,-2.20,-3.75,0.03,0.77,70272.0
2476,Zdeno Chara,20-21,WSH,D,55,0.15,-1.55,0.83,0.15,0.47,49045.2
2477,Zdeno Chara,21-22,NYI,D,72,0.30,-9.06,-13.94,-0.41,0.07,71778.0
2478,Zemgus Girgensons,19-20,BUF,C,69,-0.33,-1.16,-1.24,-0.03,-0.19,47127.0
2479,Zemgus Girgensons,21-22,BUF,C/L,56,-0.54,-3.12,-4.42,-0.33,-0.19,40837.2

In [5]:
#Separate Forwards and Defense in order to get averages for each position
forwards_EV = skater_EV_rates.loc[skater_EV_rates.Position!="D"]
defense_EV = skater_EV_rates.loc[skater_EV_rates.Position=="D"]
#forwards_EV.head()

In [6]:
#Calculate Variables/s
pd.options.mode.chained_assignment = None
forwards_EV['G/s'] = forwards_EV['G±/60'] / 3600
forwards_EV['F/s'] = forwards_EV['F±/60'] / 3600
forwards_EV['C/s'] = forwards_EV['C±/60'] / 3600
forwards_EV['xG/s'] = forwards_EV['xG±/60'] / 3600
#forwards_EV.head()

In [7]:
#Calculate average/s for defense
defense_EV['G/s'] = defense_EV['G±/60'] / 3600
defense_EV['F/s'] = defense_EV['F±/60'] / 3600
defense_EV['C/s'] = defense_EV['C±/60'] / 3600
defense_EV['xG/s'] = defense_EV['xG±/60'] / 3600
#defense_EV.head()

In [8]:
#Calculate averages per second for forwards and defensemen
avg_forward_G = forwards_EV['G/s'].mean()
avg_forward_F = forwards_EV['F/s'].mean()
avg_forward_C = forwards_EV['C/s'].mean()
avg_forward_xG = forwards_EV['xG/s'].mean()

avg_defense_G = defense_EV['G/s'].mean()
avg_defense_F = defense_EV['F/s'].mean()
avg_defense_C = defense_EV['C/s'].mean()
avg_defense_xG = defense_EV['xG/s'].mean()

In [9]:
#Add impact columns to Forward table
forwards_EV['G Impact'] = (forwards_EV['G/s']-avg_forward_G) * forwards_EV['TOI_EV']
forwards_EV['F Impact'] = (forwards_EV['F/s']-avg_forward_F) * forwards_EV['TOI_EV']
forwards_EV['C Impact'] = (forwards_EV['C/s']-avg_forward_C) * forwards_EV['TOI_EV']
forwards_EV['xG Impact'] = (forwards_EV['xG/s']-avg_forward_xG) * forwards_EV['TOI_EV']
#forwards_EV

In [10]:
#Restrict data for Forwards table
forwards_EV = forwards_EV.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact', 'F Impact', 'C Impact', 'xG Impact']]
#forwards_EV.head()

In [11]:
#Add impact columns to defense table
defense_EV['G Impact'] = (defense_EV['G/s']-avg_defense_G) * defense_EV['TOI_EV']
defense_EV['F Impact'] = (defense_EV['F/s']-avg_defense_F) * defense_EV['TOI_EV']
defense_EV['C Impact'] = (defense_EV['C/s']-avg_defense_C) * defense_EV['TOI_EV']
defense_EV['xG Impact'] = (defense_EV['xG/s']-avg_defense_xG) * defense_EV['TOI_EV']
#defense_EV

In [12]:
#Restrict data for defense table
defense_EV = defense_EV.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact', 'F Impact', 'C Impact', 'xG Impact']]
#defense_EV.head()

In [13]:
#Merge forwards and defense tables together
concat_frames = [forwards_EV, defense_EV]
skater_EV = pd.concat(concat_frames)
skater_EV

,Player,Season,Team,Position,GP,G Impact,F Impact,C Impact,xG Impact
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018
8,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894
9,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826
10,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779
11,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628
...,...,...,...,...,...,...,...,...,...
2466,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053
2467,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147
2475,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773
2476,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267
2477,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430

In [14]:
#Import Skater PP Data
skater_PP_rates_raw = pd.read_csv('https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/PP%20On-Ice%20Rates.csv')
#skater_PP_rates_raw.head()

In [15]:
#Restrict data columns to Player, Season, Team, Position, GP, TOI, G/60, F/60, C/60, xG/60
skater_PP_rates = skater_PP_rates_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G±/60']]
#skater_PP_rates.head()

In [16]:
#Convert TOI to seconds
skater_PP_rates['TOI_PP'] = skater_PP_rates['TOI'] * 60

In [17]:
#Separate Forwards and Defense in order to get averages for each position
forwards_PP = skater_PP_rates.loc[skater_PP_rates.Position!="D"]
defense_PP = skater_PP_rates.loc[skater_PP_rates.Position=="D"]
#forwards_PP.head()

In [18]:
#Calculate variables/s for forwards
pd.options.mode.chained_assignment = None
forwards_PP['G/s'] = forwards_PP['G±/60'] / 3600
#forwards_PP.head()

In [19]:
#Calculate variable/s for defense
defense_PP['G/s'] = defense_PP['G±/60'] / 3600
#defense_PP.head()

In [20]:
#Calculate averages per second for forwards and defensemen
avg_forward_G_PP = forwards_PP['G/s'].mean()
avg_defense_G_PP = defense_PP['G/s'].mean()

In [21]:
#Add impact columns to Forward table
forwards_PP['G Impact'] = (forwards_PP['G/s']-avg_forward_G_PP) * forwards_PP['TOI_PP']
#forwards_PP

In [22]:
#Restrict data for Forwards table
forwards_PP = forwards_PP.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#forwards_PP.head()

In [23]:
#Add impact columns to defense table
defense_PP['G Impact'] = (defense_PP['G/s']-avg_defense_G_PP) * defense_PP['TOI_PP']
#defense_PP

In [24]:
#Restrict data for defense table
defense_PP = defense_PP.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#defense_PP.head()

In [25]:
#Merge forwards and defense tables together
concat_frames = [forwards_PP, defense_PP]
skater_PP = pd.concat(concat_frames)
#skater_PP

In [26]:
#Import Skater SH Data
skater_SH_rates_raw = pd.read_csv('https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/SH%20On-Ice%20Rates.csv')
#skater_SH_rates_raw.head()

In [27]:
#Restrict data columns to Player, Season, Team, Position, GP, TOI, G/60, F/60, C/60, xG/60
skater_SH_rates = skater_SH_rates_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G±/60']]
#skater_SH_rates.head()

In [28]:
#Convert TOI to seconds
skater_SH_rates['TOI_SH'] = skater_SH_rates['TOI'] * 60

In [29]:
#Separate Forwards and Defense in order to get averages for each position
forwards_SH = skater_SH_rates.loc[skater_SH_rates.Position!="D"]
defense_SH = skater_SH_rates.loc[skater_SH_rates.Position=="D"]
#forwards_SH.head()

In [30]:
#Calculate Variables/s for Forward Table
pd.options.mode.chained_assignment = None
forwards_SH['G/s'] = forwards_SH['G±/60'] / 3600
#forwards_SH.head()

In [31]:
#Calculate variable/s for Defense Table
defense_SH['G/s'] = defense_SH['G±/60'] / 3600
#defense_SH.head()

In [32]:
#Calculate averages per second for forwards and defensemen
avg_forward_G_SH = forwards_SH['G/s'].mean()
avg_defense_G_SH = defense_SH['G/s'].mean()

In [33]:
#Add impact columns to Forward table
forwards_SH['G Impact'] = (forwards_SH['G/s']-avg_forward_G_SH) * forwards_SH['TOI_SH']
#forwards_SH

In [34]:
#Restrict data for Forwards table
forwards_SH = forwards_SH.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#forwards_SH.head()

In [35]:
#Add impact columns to defense table
defense_SH['G Impact'] = (defense_SH['G/s']-avg_defense_G_SH) * defense_SH['TOI_SH']
#defense_SH

In [36]:
#Restrict data for defense table
defense_SH = defense_SH.loc[:,['Player', 'Season', 'Team', 'Position', 'GP', 'G Impact']]
#defense_SH.head()

In [37]:
#Merge forwards and defense tables together
concat_frames = [forwards_SH, defense_SH]
skater_SH = pd.concat(concat_frames)
skater_SH

               Player Season Team Position  GP  G Impact
5       Adam Henrique  19-20  ANA        C  70  2.025321
6       Adam Henrique  20-21  ANA        C  44 -3.209840
10         Adam Lowry  19-20  WPG        L  48 -0.025562
11         Adam Lowry  20-21  WPG        L  52  2.821355
12         Adam Lowry  21-22  WPG      C/L  76 -5.175118
...               ...    ...  ...      ...  ..       ...
1276  Zach Whitecloud  20-21  VGK        D  49  3.135511
1277  Zach Whitecloud  21-22  VGK        D  58 -6.367926
1279      Zdeno Chara  19-20  BOS        D  67  1.347726
1280      Zdeno Chara  20-21  WSH        D  55 -0.782653
1281      Zdeno Chara  21-22  NYI        D  68  7.424736

[1284 rows x 6 columns]

In [38]:
#Rename columns for skater data
skater_EV = skater_EV.rename(columns = {'G Impact':'G_EV'})
skater_PP = skater_PP.rename(columns = {'G Impact':'G_PP'})
skater_SH = skater_SH.rename(columns = {'G Impact':'G_SH'})

In [39]:
#Merge player data for EV and PP
skater_EV_PP = pd.merge(skater_EV, skater_PP, how="left", on=["Player","Season"])
skater_EV_PP

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,Team_y,Position_y,GP_y,G_PP
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,NaN,NaN,NaN,NaN
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,NaN,NaN,NaN,NaN
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,NaN,NaN,NaN,NaN
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,NaN,NaN,NaN,NaN
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,DET,L,55.0,-5.673323
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,NaN,NaN,NaN,NaN
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,NaN,NaN,NaN,NaN
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,NaN,NaN,NaN,NaN
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,NaN,NaN,NaN,NaN
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,NaN,NaN,NaN,NaN

In [40]:
#Merge EV, PP, and SH data
full_skater_data = pd.merge(skater_EV_PP, skater_SH, how="left", on=["Player", "Season"])
full_skater_data

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,Team_y,Position_y,GP_y,G_PP,Team,Position,GP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,DET,L,55.0,-5.673323,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,NaN,NaN,NaN,NaN,VGK,D,49.0,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,NaN,NaN,NaN,NaN,VGK,D,58.0,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,NaN,NaN,NaN,NaN,BOS,D,67.0,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,NaN,NaN,NaN,NaN,WSH,D,55.0,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,NaN,NaN,NaN,NaN,NYI,D,68.0,7.424736

In [41]:
#Drop columns from full skater data
full_skater_data = full_skater_data.drop(columns= ['Team_y', 'Position_y', 'GP_y', 'Team', 'Position', 'GP'])
full_skater_data

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,G_PP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,NaN,NaN
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,NaN,NaN
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,NaN,NaN
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,NaN,NaN
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,-5.673323,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,NaN,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,NaN,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,NaN,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,NaN,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,NaN,7.424736

In [42]:
#Replace NaN in data table with 0
full_skater_data = full_skater_data.replace(np.NaN, 0)
full_skater_data

,Player,Season,Team_x,Position_x,GP_x,G_EV,F Impact,C Impact,xG Impact,G_PP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,0.000000,0.000000
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,0.000000,0.000000
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,0.000000,0.000000
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,0.000000,0.000000
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,-5.673323,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,0.000000,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,0.000000,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,0.000000,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,0.000000,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,0.000000,7.424736

In [43]:
#Rename table names
full_skater_data = full_skater_data.rename(columns = {'Team_x':'Team', 'Position_x':'Position', 'GP_x':'GP'})
full_skater_data

,Player,Season,Team,Position,GP,G_EV,F Impact,C Impact,xG Impact,G_PP,G_SH
0,A.J. Greer,21-22,N.J,L,9,0.223663,15.804349,19.006918,1.023018,0.000000,0.000000
1,Adam Brooks,19-20,TOR,C,7,2.073018,0.283848,-1.472680,0.413894,0.000000,0.000000
2,Adam Brooks,20-21,TOR,C,11,3.385881,1.177490,6.324003,0.627826,0.000000,0.000000
3,Adam Brooks,21-22,MTL/VGK/WPG,C,25,2.741775,-19.820645,-24.740183,-1.169779,0.000000,0.000000
4,Adam Erne,19-20,DET,L,56,-19.885853,-93.055992,-124.865892,-5.684628,-5.673323,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2475,Zach Whitecloud,20-21,VGK,D,51,10.242078,101.286169,117.323810,5.590053,0.000000,3.135511
2476,Zach Whitecloud,21-22,VGK,D,59,17.933012,158.044676,147.294129,10.132147,0.000000,-6.367926
2477,Zdeno Chara,19-20,BOS,D,68,25.828124,-18.622659,-39.886535,1.990773,0.000000,1.347726
2478,Zdeno Chara,20-21,WSH,D,55,4.402653,-4.141999,34.558235,3.024267,0.000000,-0.782653
2479,Zdeno Chara,21-22,NYI,D,72,9.434064,-155.798728,-243.912961,-6.739430,0.000000,7.424736

In [46]:
skater_box_raw = pd.read_csv("https://raw.githubusercontent.com/mikeytw11/Hockey-Model/main/Files/Player%20Box%20Car%20Stats.csv")
skater_box_raw

,Player,Season,Team,Position,GP,TOI,G,A1,A2,Points,...,iHF,iHA,iPENT2,iPEND2,iPENT5,iPEND5,iPEN±,FOW,FOL,FO±
0,A.J. Greer,21-22,N.J,L,9,70.70,1,0,1,2,...,20,11,1,6,0,0,5,2,1,1
1,Aaron Ekblad,19-20,FLA,D,67,1537.92,5,23,13,41,...,34,56,14,10,0,0,-4,0,0,0
2,Aaron Ekblad,20-21,FLA,D,35,878.18,11,5,6,22,...,24,46,14,8,1,1,-6,0,0,0
3,Aaron Ekblad,21-22,FLA,D,61,1520.20,15,13,29,57,...,62,54,13,9,0,0,-4,0,0,0
4,Aaron Ness,19-20,ARI,D,24,300.83,0,1,0,1,...,17,49,0,5,0,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2492,Zdeno Chara,19-20,BOS,D,68,1428.48,5,2,7,14,...,78,67,20,10,4,4,-10,0,0,0
2493,Zdeno Chara,20-21,WSH,D,55,1006.27,2,4,4,10,...,88,33,12,4,2,2,-8,0,0,0
2494,Zdeno Chara,21-22,NYI,D,72,1348.68,2,8,4,14,...,125,46,20,6,5,5,-14,0,0,0
2495,Zemgus Girgensons,19-20,BUF,C,69,951.77,12,4,3,19,...,110,71,5,6,0,0,1,30,43,-13
2496,Zemgus Girgensons,21-22,BUF,C/L,56,828.20,10,7,1,18,...,81,85,6,9,1,0,2,143,144,-1

In [47]:
skater_box = skater_box_raw.loc[:,['Player','Season','Team','TOI','G','A1','A2','iPEN±']]
skater_box

                 Player Season Team      TOI   G  A1  A2  iPEN±
0            A.J. Greer  21-22  N.J    70.70   1   0   1      5
1          Aaron Ekblad  19-20  FLA  1537.92   5  23  13     -4
2          Aaron Ekblad  20-21  FLA   878.18  11   5   6     -6
3          Aaron Ekblad  21-22  FLA  1520.20  15  13  29     -4
4            Aaron Ness  19-20  ARI   300.83   0   1   0      5
...                 ...    ...  ...      ...  ..  ..  ..    ...
2492        Zdeno Chara  19-20  BOS  1428.48   5   2   7    -10
2493        Zdeno Chara  20-21  WSH  1006.27   2   4   4     -8
2494        Zdeno Chara  21-22  NYI  1348.68   2   8   4    -14
2495  Zemgus Girgensons  19-20  BUF   951.77  12   4   3      1
2496  Zemgus Girgensons  21-22  BUF   828.20  10   7   1      2

[2497 rows x 8 columns]

In [44]:
#Separate Players into their Teams
#Avalanche = full_skater_data.loc[full_skater_data.Team=="COL"]
dict_players = {}
for Player in full_skater_data:
  Team_1920 = full_skater_data.Team=="{Team}"
dict_players[Team_1920] = full_skater_data


#dict_Players = {}
#for Player, Team in full_skater_data:
#  Team_2019_2020 = f'{Player}_{Team}'
#  dict_Players[Team_2019_2020] = full_skater_data

#dict_Players.keys()

TypeError: ignored